body {
  background: #f1f5f9;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e2e8f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logotipo {
  font-size: 3rem;
  font-weight: bold;
  color: #1e293b;
}

#ponto {
  color: #9f1239;
}

.menu a {
  color: #475569;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.75rem;
}

.menu a:hover {
  color: #1e3a8a;
  transition: all 0.3s;
}

.container-main {
  display: flex;
  justify-content: center;
}

.container-aside {
  border-right: 2px solid #e2e8f0;
  padding-right: 0;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 8rem;
  min-width: 33%;
}

.container-lista {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

#titulo-lista {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
  color: #1e293b;
}

.container-filtro {
  margin-bottom: 2.5rem;
}

#select-filtro {
  color: #660;
  padding: 0.7rem;
  height: auto;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s linear;
}

#botao-filtro {
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  background-color: #1e293b;
  color: #f1f5f9;
  cursor: pointer;
  border: none;
}

#botao-filtro:hover {
  background-color: #94a3b8;
  color: #0f172a;
  transition: all 0.5s;
}

.lista-exercicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.item-lista {
  flex-basis: 25%;
  background-color: #e2e8f0;
}

.item-lista a {
  text-decoration: none;
}

.imagem-preview {
  width: 300px;
  height: 150px;
  background-color: #1e40af;
}

.item-texto {
  padding: 0.75rem;
  color: #334155;
}

.item-texto h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.item-lista a h2 {
  font-size: 2rem;
}

.item-lista a p {
  margin-bottom: 0.5rem;
}

/* #item-botao {
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  line-height: 1;
  background-color: #1e293b;
  color: #f1f5f9;
  cursor: pointer;
}

#item-botao:hover {
  background-color: #94a3b8;
  color: #0f172a;
  transition: all 0.5s;
} */

.container-toggle {
  height: 20px;
  position: relative;
  margin-bottom: 30px;
}

#toggle {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 75px;
  background-color: #15181f;
  position: absolute;
  right: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

#toggle:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}

.dark-theme {
  background-color: #1e293b;
  transition: all 0.5s;
}

.dark-theme #toggle {
  background-color: #f1f5f9;
}

.dark-theme #toggle:after {
  background-color: transparent;
  box-shadow: 10px 10px #15181f;
  top: -4px;
  left: 30px;
}

.dark-theme .container-header {
  background-color: #0f172a;
}

.dark-theme .container-header .logotipo {
  color: #e2e8f0;
}

.dark-theme .container-header .menu a {
  color: #94a3b8;
}

.dark-theme .container-header .menu a:hover {
  color: #f1f5f9;
  transition: all 0.3s;
}

.dark-theme .container-aside {
  border-color: #0f172a;
}

.dark-theme #titulo-lista {
  color: #e2e8f0;
}

.dark-theme #select-filtro {
  background-color: #e2e8f0;
}

.dark-theme #botao-filtro {
  background-color: #ffffff;
  color: #0f172a;
}

.dark-theme #botao-filtro:hover {
  background-color: #94a3b8;
  transition: all 0.5s;
}

.dark-theme .item-lista {
  background-color: #334155;
}

.dark-theme .item-texto {
  color: #e2e8f0;
}
